{% extends 'Home/base.html' %}

{% block content %}

<div class="container card mt-3 ans_box">
  <form action="" method="post" class="container" enctype="multipart/form-data">
    <p class="fs-6">Markdown also supported !</p>
    <textarea class="form-control" id="ans_field" name="comment" rows=5 placeholder="Answer/Comment"
      required>{{ answer.comment }}</textarea>
    <input type="file" name="ans_file" class="form-control mt-3">
    <button type="button" id="preview_ans" class="btn btn-outline-secondary" data-bs-toggle="modal"
      data-bs-target="#exampleModal" onclick="preview_ans_fun()">Preview</button>
    <button type="Submit" class="btn btn-outline-primary">Submit</button>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container" id="prv_ans_field"></div>
    </div>
  </div>
</div>

{% endblock content %}